/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
  box-sizing: border-box; /* Ensures consistent box sizing */
}

/* Header Styles */
header {
  text-align: center;
  padding: 15px;
  background-color: #fff;
  border-bottom: 2px solid #ddd;
}

h1 {
  margin-bottom: 20px;
  font-size: 2rem;
}

/* Clocks Container: Flex Layout */
.clock-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background: rgba(255, 255, 255, 0.8); /* Slightly transparent background */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 100%; /* Allow container to expand on smaller screens */
  min-width: 250px; /* Ensure it doesn't get too small */
  margin: 0 auto;
}

/* Cards Container */
.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  padding: 20px;
}

/* Individual Card Style */
.card {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  text-align: center;
  position: relative;
}

.card-header {
  border-radius: 8px 8px 0 0;
  padding: 10px;
  font-weight: bold;
  font-size: 1.2rem;
  color: #fff;
}

.card h2 {
  margin: 20px 0 10px;
  font-size: 1.4rem;
}

.tariff {
  margin-top: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: underline;
}

/* Card Header Colors */
.card.red .card-header {
  background-color: red;
}

.card.orange .card-header {
  background-color: orange;
}

.card.green .card-header {
  background-color: green;
}

/* Time Info */
.time-info-valle,
.time-info-punta,
.time-info-nocturno {
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px;
  border: 3px solid;
}

.time-info-valle {
  border-color: orange;
}

.time-info-punta {
  border-color: red;
}

.time-info-nocturno {
  border-color: green;
}

/* Media Queries */
@media (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }

  .card {
    font-size: 0.9rem;
    padding: 15px;
  }

  .tariff {
    font-size: 1.2rem;
  }

  .time-info-valle,
  .time-info-punta,
  .time-info-nocturno {
    font-size: 1rem;
  }

  .chart-container {
    padding: 10px;
  }

  .digital-clock-container,
  .analog-clock-container {
    max-width: 100%; /* Ensure clocks take up full width on smaller screens */
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.2rem;
    margin-bottom: 15px; /* Adjust margin for smaller screens */
  }

  .card {
    font-size: 0.8rem;
    padding: 10px;
  }

  .tariff {
    font-size: 1rem;
  }

  /* Cards container tweaks for ultra-small screens */
  .cards-container {
    gap: 10px;
  }

  .card-header {
    font-size: 1rem;
  }

  .card h2 {
    font-size: 1.2rem;
  }
}
